@{
  Layout="Shared/_Layout.cshtml";
}

<form action="/results" method="post">
  <label for="user-input">Enter a sentence:</label>
  <input id="user-input" name="user-input" type="text" required>
  <button type="submit" class="btn">Submit!</button>
</form>
